.action-panel-block ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.action-panel-block {
    flex: 3;
}

.super-block {
    display: flex;
    padding: 0 16px 0 16px;
}

.block-1 {
    flex: 1;
}

@media only screen and (max-width: 992px) {
    .block-1 {
        flex: 0;
    }
}

.action-panel-block ul li {
    padding: 0 0.8em 0 0.8em;
    margin: 0 0 0.7em 0;
    border-radius: 0.7em;
    flex: 1;
}

.action-filler {
    flex: 1;
}

.button-container {
    width: 100%;
    height: 100%;
    border-radius: 0.05em;
    border-width: 0 1px 0 1px;
    padding: 0.2em 0 0.2em 0;
    border-style: solid;
    border-color: #fff;
}

.button-container:hover {
    border-radius: 0.7em;
    background-color: rgba(0, 0, 0, 0.10);
}

.action-button span {
    padding: 0.1em 0.2em 0.1em 0.2em;
    margin: 0;
    text-align: center;
    color: azure;
    font-size: 1.2rem;
    font-weight: 200;
    align-self: stretch;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: table !important;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    -o-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
}

.amount-input-container.secondary {
    padding-top: 0;
}

.purple-btn {
    background-color: #3f51b5;
}

.purple-btn:hover {
    background-color: #5c6bc0;
}

.purple-btn:focus {
    background-color: #303f9f;
}